# Dependencies and caches
node_modules
.deno/
.deno_dir/
deno.lock

# Build and test artifacts
coverage/
.coverage/
coverage.lcov
cov.lcov
cov/
dist/

# Development files
.vscode/
.idea/
.history/
test-bin/
tmp/

# System files
.DS_Store
*.log
*.swp
*.swo

# Project specific
gh-check.sh